body{
    font-family: Arial;
    text-align: center;
}

header{
    margin-bottom: 100px;
}

h1{
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}

.date{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}